h3 {
 margin-left: 275px;	 
}

.e1 {
   position: absolute; 
	left: 20px;
 }

.e2 {
   position: absolute; 
	left: 100px;
 }

.e3 {
   position: absolute; 
	left: 220px;  
}

.e4 {
   position: absolute; 
	left: 200px;  
}



.e11 {
position: absolute; 
	left: 260px; 
       }

.e22 {
    position: absolute; 
	left: 180px; 
 }

.e33 {
    position: absolute; 
	left: 60px;
  }


.e44 {
    position: absolute; 
	left: 80px;
  }


button {
     
     margin-left: 310px;
     margin-bottom:50px; 
 }

.Rezyltat111{
      position: absolute; 
	left: 280px;
}

.Rezyltat222{
    position: absolute; 
	left: 280px;  
}

.Rezyltat333{
     position: absolute; 
	left: 280px; 
}

.forma1{
     position: absolute; 
     display: block;
     top: 40px;  
     left: 600px;  	
		

    }
